#title {
    margin-top: 100px;
    text-align: center;
}
#subtitle {
    text-align: center;
}

a{
    text-align: center;
}
.table tr th {
  vertical-align: middle;
}#title {
     margin-top: 100px;
     text-align: center;
 }
 #subtitle {
     text-align: center;
 }

 a{
     text-align: center;
 }
 .table tr th {
   vertical-align: middle;
 }