<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Withdraw</title>
</head>
<body>
<div align="center">
  <h1>To take money from your account please enter amount and password</h1>
  <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div>
  <form action="#" th:action="@{/withdrawsave}" method="post" th:object="${customer}">
    <label>Amount: </label>
    <input type="number" step="0.01" th:field="*{amount}"/>
    <br>
    <label>Type password to confirm: </label>
    <input type="password" th:field="*{password}"/>
    <br>
    <button type="submit">Submit</button>
  </form>
</div>
<div align="center">
  <a th:href="@{/homepage}">Go back</a>
</div>
</body>
</html>